body{
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
}
h1{
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    color: rgb(35, 42, 113);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px; 
  margin: auto;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.15);
  padding: 20px;
  max-width: 1100px;
}

.idk{
    box-shadow: 2px 2px 10px rgba(0,0,0,0.15);
    height: 70px;
    text-align: center;
    padding: 10px;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    display: flex;
    margin: 50px;
}

.card {
  text-align: center;
}

.card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  filter: grayscale(100%);
  transition: transform 0.4s ease, filter 0.4s ease;
  border-radius: 5px;
  transform: scale(1); 
  flex-grow: 1;
  
}

.card img:hover {
  filter: grayscale(0);
  transform: scale(1.08);
}

.card p {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 600;
}
.blur-out{
    animation: blurOut 5s linear both;
}
@keyframes blurOut {
    0% {filter:blur(.01px);}
    100% {filter:blur(12px)opacity(0);}
}
#volver{
  width: 210px;
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color: rgb(222, 45, 110);
  border: 2px solid rgb(180, 36, 89);
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}
#volver:before{
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 210px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: rgb(180, 36, 89);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}
#volver:hover:before{
  scale: 3;
}
#volver:hover{
  color: #ffffff;
  scale: 1.1;
  box-shadow: 0 0px 20px rgb(81, 19, 42);
}
#volver:active{
  scale: 1;
}
