body{
    font-family: Century Gothic;
    font-style: bold;
}
h1{
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    color: rgb(35, 42, 113);
}
header{
    background-color: rgb(235, 235, 235);
    width: 100%;
    padding: 2px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px; 
  max-width: 900px;
  margin: auto;
}

.card {
  text-align: center;
}

.card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  filter: grayscale(100%);
  transition: transform 0.4s ease, filter 0.4s ease;
  border-radius: 5px;
  transform: scale(1); 
}

.card img:hover {
  filter: grayscale(0);
  transform: scale(1.08);
}

.card p {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 600;
}
.blur-out{
    animation: blurOut 5s linear both;
}
@keyframes blurOut {
    0% {filter:blur(.01px);}
    100% {filter:blur(12px)opacity(0);}
}